body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#calculator {
    width: 240px;
    background-color: #fffae6; /* Couleur de fond plus chaude */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Grille à 4 colonnes */
    grid-template-rows: repeat(5, 1fr);  /* 5 lignes pour les boutons */
    gap: 10px;
    grid-template-areas: 
        "clear divide multiply add"
        "seven eight nine subtract"
        "four five six decimal"
        "one two three equals"
        "zero zero zero zero";  /* Positionnement du bouton 0 en bas au centre */
}

#display {
    backgr
