body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#calculator {
    width: 240px;
    background-color: #fffae6; /* Fond jaune clair pour la calculatrice */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes pour les boutons */
    grid-template-rows: repeat(5, 1fr);  /* 5 lignes */
    gap: 10px;
    grid-template-areas: 
        "clear divide multiply add"
        "seven eight nine subtract"
        "four five six decimal"
        "zero one two three"
        "equals equals equals equals"; /* Le bouton = 

